.highlight-widget {
  position: relative;
  border: 2px dashed #ccc;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.inner-widgets-container {
  flex-grow: 1;
  overflow-y: visible;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.add-article-button {
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 10;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.add-article-button:hover {
  background-color: #0056b3;
}

.widget-drag-handle {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 5px;
  cursor: grab;
  z-index: 2;
  border-radius: 4px;
}

.widget-drag-handle:hover {
  cursor: grabbing;
  background-color: rgba(0, 0, 0, 0.8);
}
