@tailwind base;
@tailwind components;
@tailwind utilities;

.react-resizable-handle {
    background-image: none;
  }

.react-grid-item > .react-resizable-handle::after {
  border: none;
  content: none;
}